* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }


 /*header*/
 .header {
    background-color: rgb(33, 34, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
    margin: 0;
   
}

.main-title {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    
    

 }

 span {
    color: rgb(230, 198, 14);
     
}

.a-nav {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 254, 254);
    padding: 10px;
    margin: 10px;
    
}

.a-nav:hover {
    color: rgb(8, 8, 8);
    background-color: rgb(243, 243, 6);
    transition: margin-right 2s, color 1s;
    border-radius: 5px;
}

/*about section*/



.banner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(114, 133, 75);
    padding: 0px;
    margin: 0px;
    
}

.banner p {
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;


}

 .avatar{
    max-width: 20%;
    display: flexbox;
    padding: 2%;

    border-radius: 50%;
 
}


.social-a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(10, 5, 5);
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: rgb(29, 209, 38);
}








