body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 14px;
    box-sizing: border-box;
}


/*main-header*/

 .main-header{
	padding: 0.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
 }

 .main-title{
	display: flex;
	align-items: center;
	font-family: ubuntu, sans-serif;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
	color: black;
    
 }

 .itens-nav {
	justify-content: space-between;
	display: flexbox;
	background-color: yellow;

	font-family: ubuntu, sans-serif;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	color: black;

 }


